body{
margin:0;
font-family:Arial, Helvetica, sans-serif;

background-color: aqua;
background-size:cover;
background-attachment:fixed;
background-position:center;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
background:rgba(30,61,89,0.9);
color:white;
}

.logo{
font-size:24px;
font-weight:bold;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
text-decoration:underline;
}

.hero{
height:500px;
background:url("https://images.unsplash.com/photo-1519681393784-d120267933ba") center/cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
color:rgb(5, 5, 5);
text-align:center;
}

.hero h1{
font-size:50px;
}

.button{
background:#ff6e40;
color:white;
padding:15px 30px;
text-decoration:none;
margin-top:20px;
border-radius:5px;
}

section{
padding:60px;
background:rgba(255,255,255,0.95);
margin:40px;
border-radius:10px;
}

.grid{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:30px;
margin-top:30px;
}

.places{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
}

.places div{
background:#eee;
padding:20px;
border-radius:8px;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
}

table,th,td{
border:1px solid #ccc;
padding:12px;
}

.form{
display:flex;
flex-direction:column;
max-width:400px;
}

.form input{
padding:10px;
margin-bottom:15px;
}

.form button{
background:#ff6e40;
border:none;
color:white;
padding:12px;
cursor:pointer;
}

footer{
background:rgba(30,61,89,0.9);
color:white;
text-align:center;
padding:20px;
margin-top:30px;
}

.adventure{
text-align:center;
}

.adventure h2{
font-size:32px;
margin-bottom:20px;
}

.adventure img{
max-width:700px;
width:100%;
display:block;
margin:auto;
}  

.video-section{
text-align:center;
padding:60px;
}

.video-section img{
max-width:100%;
border-radius:10px;
cursor:pointer;
}

